<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Church Events</title>
		<link rel="stylesheet" href="{% static 'events/css/home.css' %}">
	</head>
	<body>
		<header>
			<h1>Church Events</h1>
			<img src="{% static 'events/img/church-image.jpg'%}" alt="Church Image">

			<p>{{ agenda }}</p>

			<nav>
				<a href="{% url 'login' %}">Login</a>
				<a href="{% url 'signup' %}">Sign Up</a>
			</nav>
		</header>
		
	</body>
</html>