<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Church Events</title>

		<!-- Favicons -->
		<link href="{% static 'events/img/favicon.png" rel="icon' %}">
		<link href="{% static 'events/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


				
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com" rel="preconnect">
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<!--Customized Font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{% static 'events/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'events/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
		<link href="{% static 'events/vendor/aos/aos.css' %}" rel="stylesheet">
		<link href="{% static 'events/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
		<link href="{% static 'events/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
	  
		<!-- Main CSS File -->
		<link href="{% static 'events/css/main.css' %}" rel="stylesheet">

		
		<!-- customized css -->
		<link rel="stylesheet" href="{% static 'events/css/home.css' %}"> 

	</head>
	<body>


		
		<header id="header" class="header d-flex align-items-center sticky-top">
			<div class="container-fluid container-xl position-relative d-flex align-items-center">
				<a href="index.html" class="logo d-flex align-items-center me-auto">
					<img src="{% static 'events/img/church-logo.webp' %}" alt="">
					<h1 class="church-name">Calvary Ministries</h1>
				</a>
		
				<nav id="navmenu" class="navmenu">
					<ul>
						<li>
							<a href="{% url 'home' %}">
								Home<br>
							</a>
						</li>
						<li>
							<a href="#about">
								About
							</a>
						</li>
						<li>
							<a href="{% url 'event_list' %}">
								Events
							</a>
						</li>
						<li>
							<a href="#services">
								Testimonies
							</a>
						</li>
					</ul>
					
					<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
				</nav>

				{% if user.is_authenticated %}
					<form action="{% url 'logout' %}" method="post" style="display: inline;">
						{% csrf_token %}
						<button type="submit" class="btn-getstarted flex-md-shrink-0 logout-button">Logout</button>
					</form>
				{% else %}
					<a class="btn-getstarted flex-md-shrink-0" href="{% url 'login' %}">Login</a>
					<a class="btn-getstarted flex-md-shrink-0" href="{% url 'signup' %}">SignUp</a>
				{% endif %}
			</div>
		</header>
		
		

	<main class="main">
		<div class="container">
			<div class="row">
				<div class="events-title">
					  <h1>Registered Events</h1>					
					      <p>Welcome {{ user.username }}! All your registered events are shown here</p>
				</div>
		
				<div class="col-lg-8">
		
				  <!-- Blog Posts Section -->
				    <section id="blog-posts" class="blog-posts section">
		
						<div class="container">
			
							<div class="row gy-4">

								{% for registration in registrations %}
								<!-- End post list item -->
				
								<div class="col-12">
				
								    <article>
				
										<div class="post-img">
											<img src="{{ registration.event.image.url }}" alt="" class="img-fluid">
										</div>
				
										<h2 class="title">
											{{ registration.event.title}}
										</h2>
				
										<div class="meta-top">
											<p>
												<b>
													Date: {{ registration.event.date_time|date:"F j, Y" }}
												</b>
											</p>
											<p>
												<b>
													Time: {{ registration.event.date_time|time:"H:i" }}
												</b> 
											</p>
										</div>
				
										<div class="content">
											<p>
												{{ registration.event.description }}
											</p>
											{% if user.is_authenticated %}
											<div class="read-more">
												<form 
												action="{% url 'delete_registration' registration.id%}"
												method="post">
												{% csrf_token %}
												<button type="submit" class="register-button" >Delete</button>
												</form>
											</div>
											{% endif %}
										</div>
									</article>
								</div>
								{% endfor %}
								<!-- End post list item -->
				
								
			
							
			
							</div><!-- End blog posts list -->
				
						</div>
					</section><!-- /Blog Posts Section -->
				</div>
					<div class="go-back-button">
						<p>Go back to <button class="upcoming-button">
							<a   href="{%url 'event_list' %}">Upcoming Events</a>
						</button></p>
				    </div>
			</div>
		</div>
	</main>






		<footer 
		id="footer" 
		class="footer">
			<div class="footer-newsletter">
			  <div class="container">
				<div class="row justify-content-center text-center">
				   <div class="col-lg-6">
					 <p>
						© 2024 The Church of Churches Ministries. All rights reserved.
					 </p>
					</div> 
				</div> 
			</div> 
			</div>
		</footer>
	</body>
</html>












































































































































{% comment %} 

<h1>Registered Events</h1>
<ul>
	{% for registration in registrations %}
	<li>
		Image:
		<img src="{{ registration.event.image.url }}" alt=""> 
		<h3>{{ registration.event.title}}</h3>
		<p>{{ registration.event.description }}</p>
		<p>Date:{{ registration.event.date }}</p>
		

		<form 
		action="{% url 'delete_registration' registration.id%}"
		method="post">
		{% csrf_token %}
		<button type="submit">Delete</button>
		</form>
	</li>
	
	{% endfor %}
</ul> {% endcomment %}
